.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin{style:"background-color:red;"}
	
			
			%p.no-margin Conecta y conoce a otras personas
			.top-space
				=render "devise/registrations/new"
			.large-padding.text-center
				=link_to "Crear cuenta",new_user_registration_path 